{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/base.css' %}"/>
    <title>Document</title>
    <script type="text/javascript" src="{% static 'js/base.js' %}"></script>
    {% block head %}{% endblock %}
</head>
<body>
    <main>
        <nav>
            <div class="nav-container">
                <div id="hamBtn">
                    햄버거
                </div>
                <div class="nav-title">
                    <a href= "{% url 'index' %}">name's portfolio</a>
                </div>
               
                <div class="nav-content">
                
                    <form id="nav-search" action="{% url 'search' %}">
                        <input id="search" type="search" placeholder="검색어를 입력해주세요." name="q" value="{{q}}" aria-label="Search" />
                        <button type="submit">검색</button>
                    </form>
                    <div class="nav-link">
                    <div class="github"><a href="#">github</a></div>
                    <div class="blog"><a href="#">blog</a></div>
                    <div class="write"><a href="{% url 'write' %}">글작성</a></div>
                </div>
                </div>
            </div>
        </nav>
        
        <div id="container">
            <div id="menu">
                {% block menu %}
                {% endblock %}
            </div>
            <div id="content">
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </main>
    
    {% block script %}
    {% endblock %}

    <script>
        const input = document.getElementById('search');
        const searchForm = document.getElementById('nav-search');
        
        function warringMessage(e){
            if(input.value.length < 2){
                e.preventDefault();
                console.log(input.value.length)
                alert('검색어는 두글자 이상으로 입력해주세요!')
            }  
        }
        searchForm.addEventListener('submit',warringMessage)

    </script>
</body>
</html>