{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/index.css' %}"/>
</head>
<body>
    <main>
        <nav>
            네브바가 들어갈 공간
        </nav>
        
        <div id="container">
            <div id="menu">
                <div>메뉴바</div>
                <div>메뉴바</div>
                <div>메뉴바</div>
                <div>메뉴바</div>
                <div>메뉴바</div>
                <div>메뉴바</div>
                <div>메뉴바</div>
                <div>메뉴바</div>
                <div>메뉴바</div>
                <div>메뉴바</div>
                <div>메뉴바</div>
                <div>메뉴바</div>
            </div>
            <div id="content">
                컨텐츠가 들어갈 공간<br/>
                컨텐츠가 들어갈 공간<br/>

                컨텐츠가 들어갈 공간<br/>

                컨텐츠가 들어갈 공간<br/>
            </div>
        </div>
    </main>
</body>
</html>