{% extends 'base.html' %}
{% load static %}

{% block head %}
    <title>index</title>
    <link rel="stylesheet" href="{% static 'css/index.css' %}"/>
{% endblock %}

    {% block menu %}
        {% for category in categories %}
            <div class="menu-category">
                <a href="{% url 'list' category.id %}">{{category.subject}}</a>
            </div>
            
        {% endfor %}
            <div>프로젝트</div>
            <div>프로젝트</div>
            <div>프로젝트</div>
            <div>프로젝트</div>
            <div>프로젝트</div>
            <div>프로젝트</div>
            <div>프로젝트</div>
            <div>프로젝트</div>
            <div>프로젝트</div>
            <div>프로젝트</div>
            <div>프로젝트</div>
            <div>프로젝트</div>
    {% endblock %}

    {% block content %}
        컨텐츠가 들어갈 공간<br/>
        컨텐츠가 들어갈 공간<br/>

        컨텐츠가 들어갈 공간<br/>

        컨텐츠가 들어갈 공간<br/>
    {% endblock %}
        
